*{
    margin: 0;
    padding: 0;
    font-family: 'comic neue', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    
}
body{
    background: #ffffff;
    color: rgb(19, 12, 12);
    
}
#manga{
    padding: 50px 0;
}
h1{
    font-size: 70px;
    text-align: center;
}
.manga-book{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.man{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.man img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    height: 100%;
}
.layer{
    width:100%;
    height: 0%;
    background: linear-gradient(rgba(0, 0, 0, 0.356), rgb(255, 255, 255));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    flex-direction: column;
    
}
.layer h2{
    font-weight: 650;
    margin-bottom: 20px;
    font-size: 1cm;
    
}
/* .layer a{
    margin-top: 30px;
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
    line-height: 60px;
    background: rgb(0, 0, 0);
    width: 60px;
    height:60px;
    border-radius: 100%;
    text-align: center;
    transition: height 0.5s;
} */
.layer p{
    font-size: 18px;
    font-weight: 600;
}

.man:hover img{
    transform: scale(1.1) ;
}
.man:hover .layer{
    height: 100%;
    position: absolute;
}
a{
    color: black;
}
a:hover{
    color: gray;
}